// Import page-specific CSS files here.
@import "home";
@import "show";

h1 {
  margin: 20px auto;
  text-align: center;
}

.banner {
  background-color: #dfd3c3;
  padding: 100px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
